<div class="container">
  <div class="row">
    <h1 class="center-text">Find Your Farmers' Market Treasure</h1>
  </div>

  <div class="row"
       ng-show="vm.show">
    <div class="six columns
                bttn-center">
    <button class="button-primary" 
            ng-click="vm.clearZip()"
            >Search Local Markets</button>
    </div>
    <div class="six columns
                bttn-center">
    <button class="button-primary" 
            ng-click="vm.toggleShow()"
            >Search By Zip Code</button>
    </div>
  </div>
  
  <br>
  
  <div class="row"
       ng-hide="vm.show">
    <form>
      <h3>Find By Zipcode</h3>
      <input ng-model="vm.zip" 
             type="text"
             placeholder="ex: 80209">
      <button ng-click ="vm.toggleShow()">Cancel</button>
      <button ng-click ="vm.assignSearchZip()" 
              type="submit">
              Search</button>
    </form>
  </div>

  <div class="row">
    <img src="/images/hero.jpg" 
         class="max-width-img"
         alt="Trove Hero Image">
  </div>
  
  <hr>  
  
  <div class="row">
    <h1 class="center-text">What is Trove For?</h1>
  </div>
  
   <div class="row">
    <div class="six columns">
      <h3 class="center-text">Discovery</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel lacus non justo facilisis vehicula vitae ac erat. Nullam condimentum felis ipsum, sit amet pellentesque mauris porttitor ut. Vivamus faucibus ipsum non convallis pellentesque. Mauris quis accumsan tortor, sit amet eleifend dui.</p>
    </div>
    <div class="six columns">
      <h3 class="center-text">Communication</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel lacus non justo facilisis vehicula vitae ac erat. Nullam condimentum felis ipsum, sit amet pellentesque mauris porttitor ut. Vivamus faucibus ipsum non convallis pellentesque. Mauris quis accumsan tortor, sit amet eleifend dui.</p>
    </div>
  </div>
  
  <hr>
  
  <div class="row">
    <h1 class="center-text">Start Exploring</h1>
  </div>
  
  <div class="row"
       ng-show="vm.show">
    <div class="six columns
                bttn-center">
    <button class="button-primary" 
            ng-click="vm.clearZip()"
            >Search Local Markets</button>
    </div>
    <div class="six columns
                bttn-center">
    <button class="button-primary"
            ng-click="vm.toggleShow()"
            >Search By Zip Code</button>
    </div>
  </div>

  <br>
  
<!-- FOR TESTING -->
<!--
<a href="/#/images"><button class="button-primary">Images Component</button></a>
<a href="/#/messages"><button class="button-primary">Messages Component</button></a>
<a href="/#/vendors"><button class="button-primary">Vendors Component</button></a>
-->
<!-- END TESTING -->

</div>


    
    