<div class="container all-markets">

  <div class="row">
    
    <h1 class="near-header">Near You:</h1>
    
      <ul class="all-markets-list">
    
        <li ng-repeat="market in vm.nearbyMarkets | orderBy: 'distance'">
    
          <div class="six columns">
    
            <div class="market-image">
              
              <div class="market-text">
                <h4 class="mkt-name center-text">{{ market.market_name }}</h4>
                <h5 class="center-text">{{ market.city }}, {{ market.state }}</h5>
                <h5 class="center-text">{{ market.distance | number:1 }} miles away</h5>
              </div>
              
              <div class="row">
    
                <div class="mobile-buttons">
    
                  <div class="info-button">
                    <a href="#" class="mobile-nav">Info</a>
                  </div>
                  
                  <div class="buzz-button">
                    <a href="#" class="mobile-nav">Buzz</a>
                  </div>
    
                </div>
    
              </div>
    
            </div>
            
            <div class="go-button">
              <a href="/#/info" 
                 ng-click="vm.setId(market.id, market.fmid)">
                <button class="button-primary 
                               bttn-center"
                               >Go</button>
              </a>
            </div>
          </div>
          
        </li>
      </ul>

  </div>

</div>
