<div class="container all-markets">

  <div class="row">
    
    <h1 class="near-header">Search Results:</h1>
    
      <ul class="all-markets-list">
    
        <li ng-repeat="market in vm.nearbyMarkets | orderBy: 'distance'">
    
          <div class="twelve columns" style="margin-bottom: 30px;">
            
            <h3 class="mkt-name center-text"><a href="{{market.website}}">{{ market.market_name }}</a></h3>
            
            <div class="market-image">
              
              <div class="market-text">
                
              </div>
              
              <div class="row">
    
                <div class="mobile-buttons">
    
                  <div class="info-button">
                    <a href="#" class="mobile-nav">Info</a>
                  </div>
                  
                  <div class="buzz-button">
                    <a href="#" class="mobile-nav">Buzz</a>
                  </div>
    
                </div>
    
              </div>
    
            </div>
            
            <div class="row">
              <div class="six columns">
                <h4 class="center-text">Location <br> {{ market.city }}, {{ market.state }} <br> <a href="http://maps.google.com/maps?q={{market.lat}},{{market.lng}}">{{ market.distance | number:1 }} miles away</a></h4>
              </div>
              
              <div class="six columns">
                <h4 class="center-text">Season <br> {{ market.season_dt || 'Season Info Unavailable' }} <br> {{ market.season_time }}</h4>
              </div>
            </div>
            
            <div class="row">
            	<div class="six columns">
<!--                 <a href="/#/info"> -->
                  <button class="button-primary 
                                 bttn-center"
                          ng-click="vm.setId(market.id, market.fmid, market.market_name); vm.redirect('/info');"
                          style="margin: auto;"
                                 >Chat With This Market</button>
<!--                 </a> -->
            	</div>
            	
            	<div>
<!--               	<a href="/#/vendors" > -->
                   
                   <button class="button-primary 
                                  bttn-center"
                          ng-click="vm.setId(market.id, market.fmid, market.market_name); vm.redirect('/vendors');"
                          style="margin: auto;"
                                  >Vendor Info</button>
<!--                 </a> -->
              	
            	</div>
<hr>
            </div>
                          
          </div>
          
        </li>
      </ul>

  </div>

</div>
